@import '../base/index.css';


.button {
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: var(--light);
    display: flex;
    align-items: center;
    gap: 6px;
}

.button-primary {
    background-color: var(--primary);
}

.button-secondary {
    color: var(--dark);
    background-color: var(--light);
    border: 1px solid var(--greyscale-4);
}

.button-danger {
    background-color: var(--red);
    font-weight: bold ;
}

.button-large {
    padding: 15px 16px;
}

.button-small {
    padding: 10px 16px;
    font-weight: normal;
}
