@import '../base/index.css';


.button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 13px;
    padding: 10px 16px;
}

.button-primary {
    background-color: var(--primary);
}

.button-secondary, .button-icon {
    color: var(--dark);
    background-color: var(--white);
    border: 1px solid var(--gray);
}

.button-icon {
    padding: 10px;
}

.button-danger {
    background-color: var(--red);
    font-weight: bold ;
}

.button-link {
    background-color: transparent;
    color: var(--red);
    padding: 0;
}

.button-large {
    padding: 15px 16px;
    font-weight: bold ;
}

.width-full {
    width: 100%;
}

.dropdown-button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--gray);
}