@import '../base/index.css';


.heading {
    line-height: 130%;
    font-family: 'sans-serif';
    font-weight: 600;
    color: var(--dark);
}

.heading-1 {
    font-size: 24px;
}

.heading-2 {
    font-size: 20px;
}

.heading-3 {
    font-size: 18px;
}

.heading-4 {
    font-size: 16px;
}

.heading-5 {
    font-size: 14px;
}

.heading-6 {
    font-size: 11px;
}