@import './../base/index.css';



.language-dropdown-container {
    display: inline-block;
    background: var(--white);
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
}

.language-dropdown-button {
    display: flex;
    width: 124px;
    padding: 4px 8px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    cursor: pointer;
    border-radius: 4px;
    margin: 4px 0;
}

.language-dropdown-button.active {
    background-color: var(--light);
}

.language-dropdown-button:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.language-dropdown-button:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.language-dropdown-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.language-dropdown-arrow {
    cursor: pointer;
    padding: 0 5px;
    display: flex;
    align-items: center;
}