@import '../base/index.css';


.text {
    line-height: 130%;
    font-weight: 600;
    color: var(--primary-dark);
    font-family: 'Inter', sans-serif;
}

.heading-1 {
    font-size: 24px;
}

.heading-2 {
    font-size: 20px;
}

.heading-3 {
    font-size: 18px;
}

.heading-4 {
    font-size: 16px;
}

.heading-5 {
    font-size: 14px;
}

.heading-6 {
    font-size: 11px;
}

.paragraph-big, .paragraph-medium, .paragraph-small, .paragraph-tiny {
    font-weight: 400;
}

.paragraph-big {
    line-height: 150%;
    font-size: 18px;
}

.paragraph-medium {
    font-size: 15px;
}

.paragraph-small {
    font-size: 14px;
}

.paragraph-tiny {
    font-size: 11px;
}

.cta, .link {
    font-size: 13px;
}

.cta {
    font-weight: 700;
}

.link {
    font-weight: 400;
}



.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
