@import '../base/index.css';

.button:hover {
    background-color: var(--primary-dark);
    color: var(--white);;
}


.button-danger:hover {
    background-color: var(--dark-red);
}


.button:disabled {
    background-color: var(--light);;
    color: var(--greyscale-3);
    border: none;
}
