@import '../base/index.css';

.button:hover {
    background-color: var(--blue-bark) !important;
    color: var(--white);;
}


.button-danger:hover {
    background-color: var(--dark-red);
}


.button:disabled {
    background-color: var(--light) !important;
    color: var(--greyscale-3) !important;
    border: none;
}
