@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @will @import normalize css */


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  outline: none;
  border: none;
  background: none;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

:root {
    --button-corner-radius: 9px;




    --primary: #2F80ED;
    --primary-dark: #05153D;

    --blue: #5A88FF;
    --blue-bark: #0E44A8;
    --blue-light: #D1E1FF;

    --red: #FF5A5A;
    --red-dark: #CD1F1F;
    --red-light: #FFE1E1;

    --black: #000;
    --dark: #1C1D1E;
    --gray-x-dark: #3B4D6F;
    --gray-dark: #919AAB;
    --gray: #DADADA;
    --gray-light: #F3F4F5;
    --gray-x-light: #E7EAEE;
    --light: #F7F9FC;
    --white: #FFF;


}